* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: lightgray;
}

p {
  margin: 0;
  padding: 0.5rem 0 0.5rem 0;
}

#editor-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 4rem;
}

input {
  margin: 5px;
}

#canvas-container {
  position: relative;
  overflow: hidden;
  width: 800px;
  height: 600px;
}

.floating-div {
  position: absolute;
  cursor: default;
  pointer-events: none;
}

#unit-cell-atom-list {
  border: 1px solid #000000;
  cursor: pointer;
  width: 200px;
}

.atom-list-item {
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 10px;
  margin: 0px 5px;
  height: 30px;
  justify-content: center;
}

#atom-position-feedback,
#lattice-parameters-feedback {
  display: block;
  height: 2.5rem;
}

.selected-item {
  color: white;
  background-color: black;
}

.basis-input-area > input {
  width: 50px;
}

.input-area {
  float: none; 
  display: inline-block;
  width: 100px;
}

.input-area > input {
  width: 50px;
}

.input-area > label {
  width: 50px;
}

.hidden-input-section {
  display: none;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
  cursor: pointer;
}

td {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  justify-content: center;
  text-align: center;
}

.selected-element {
  color: white;
  background-color: black;
}
